.card {
  position: relative;
  display: flex;
  min-width: 400px;
  padding: 15px;
  margin-top: 20px;
}

.MuiTooltip-popper {
  cursor: pointer;
}

svg.delete,
svg.like {
  width: .6em;
  cursor: pointer;
}

.delete {
  margin-left: auto;
  margin-right: 0;
}

.like {
  position: absolute;
  bottom: 6px;
  right: 10px;
}
