/*.form {*/
/*  display: flex;*/
/*  width: 100%;*/
/*  justify-content: space-between;*/
/*  align-items: flex-end;*/
/*}*/

.form {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.inputBtn {
  height: 50px;
}

.textInput {
  width: 90%;
}